<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" routerLink="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' routerLink='/@fortawesome/fontawesome-free/css/all.min.css' />
  <script src="https://kit.fontawesome.com/b2dd3e5cd5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" routerLink="/stylesheets/header.css">
  <link rel="stylesheet" routerLink="/stylesheets/footer.css">

</head>

<body> -->
<div class="header">
  <div class="container-fluid">

    <!-- logo -->
    <div class="logo-header">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="logo" style="width:40px;" class="d-inline-block align-top" alt="">
      </a></div>

    <!-- searchbar -->
    <div class="container-search">
      <form action="">
        <input class="different" type="text" placeholder="Search for anything..." name="searchbar">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <!-- post ad button -->
    <div class="topnav-postAd">
      <a routerLink="/products/add">Post Ad</a>
    </div>

    <!-- TEMPORARY sign-in button -->
    <div class="topnav-signIn">
      <a class="nav-link" routerLink="/users/signin">Signin</a>
      <!-- <a *ngIf="auth.username != null" class="nav-link" routerLink="" (click)="logout()">Sign Out ({{ auth.username }})</a>
      <a *ngIf="auth.username == null" class="nav-link" routerLink="/users/signin">Signin</a> -->
    </div>


  </div>

  <!-- quick links -->
  <div class="navLinks" id="navbarNavDropdown">
    <a class="nav-link" routerLink="/categories/clothing">Clothing<span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/categories/furniture">Furniture</a>
    <a class="nav-link" routerLink="/categories/electronics">Electronics</a>
    <a class="nav-link" routerLink="/categories/outdoor">Outdoor</a>
    <a class="nav-link" routerLink="/categories/vehicle">Vehicles</a>
  </div>
  <hr style=" width: 95%; border: 8px solid #373373; border-radius: 5px; margin-top: 1px;">
</div>
