
 <app-header [title]="title"></app-header>

    <main class="container">
        <div class="column">
            <h1 style="margin-left: 3%; padding-bottom: 2%;">{{title}}</h1>
            <br>

            <tr *ngFor="let list of productList">
            <div *ngIf = "list.category==='Electronics' "> 
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <a class="img-container" routerLink="#">
                                <img class="imgview" src="{{list.image }}" width="600" height="300" >
                            </a>
                            <p style="font-weight:bolder">Product Title: {{list.title }} </p>
                            <p>Condition: {{list.condition}} </p>
                            <p style="font-weight:bold">${{list.price}} </p>
                            <br/>
                            <section class="social-icons" style="width:fit-content;">
                                <section>
                                    <a routerLink="#" class="btn btn-primary btn-sm" style="height:3rem; margin-left: 1rem;">
                                        View Product</a>
                                    <a [routerLink]="['/products/message/', list._id]" class="btn btn-primary btn-sm" style="height:3rem; margin-left: 1rem;">
                                        Message Owner</a>
                                </section>
                                
                                   
                                <section>
                                    <a [routerLink]="['/products/edit/', list._id]" class="btn btn-primary btn-sm" style="margin-left:1rem;">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a (click)="deleteMethod(list._id)"  class="btn btn-danger btn-sm" style="margin-left: 1rem;">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </section>    
                            </section>
        
                        </div>
                    </div>
                    
                </div>
                    
            </div> 
            </tr>
        </div>
    </main>

<app-footer></app-footer>