*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #000;
  color: #efefef;
  display: flex;
  
}

.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 2;
  margin-left:25%;
  margin-right: 25%;
}
.textbox{
  /* position: relative; */
 height: 100%;
 width: 100%;
 transform: translateX(-20%);
  
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color:#efefef;
  margin-bottom: 10px;
  
}
form input{
  height:45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline:none;
}

.social-icons{
  margin-top: 30px;
}
.social-icons i{
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}
/* BOTTOM-LINE */
.bottom-line { 
  background-color: #444554; 
  color: #fff;
  float: bottom;
  align-content: center;
  justify-content: center;
}
.bottom-line p { 
  margin-left: 35%;
}
@media screen and (min-width: 960px) 
{ 
.footer, .topnav { 
  height: 45vh; 
} 
}
html, body {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
height: 100%;
margin: 0;
padding: 0;
}
/* BOTTOM-LINE */
.bottom-line { 
  background-color: #444554; 
  color: #fff;
  float: bottom;
}
.bottom-line p { 
  margin-left: 2%;
}
.container-add {
  width: 50%;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 20px;
  margin-left: 25%;
  margin-right: auto;
}
input[type=text]:not(.different), select, textarea, input[type=password]{
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}
input[type=number]{
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
}

.form-group label{
  font-size: 18px;
  font-weight:lighter;
}
input[type=radio]{ 
  padding: 4px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=checkbox]{
  padding: 4px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  transform: scale(1.3);
}
input[type=submit] {
  background-color: #68E1FD;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 22px;
  border-radius: 5px;
}
input[type=submit]:hover {
  background-color:#036DBE;
}
.createOne-centered{
  text-align: center;
  padding-top: 10px;
}
.navLinks{
  display: flex;
}
.navLinks a{
  flex-grow: 4;
  margin:.5em .25em;
  font-weight: bold;
  font-size:120%;
  color:#31475E;
  padding:.5em;
  text-align:center; 
  text-decoration: none;
}
.navLinks a:hover{
  color:#036DBE;
}
.banner-container{
  background-color: #00008B;
}
.logo-header{
  padding-left: 3%;
  padding-top: 1%;
}
.container-fluid{
  display: flex;
  justify-content: center;
}
.topnav-signIn{
  margin-left: auto;
  margin-right: 5%;
  margin-top: 1%;
}
.topnav-postAd{
  flex:1;
  padding-right: 7px;
  margin-top: 1%;
}
.topnav-signIn a, .topnav-postAd a{
  background-color: #036DBE;
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 22px;
  border-radius: 5px;
  text-decoration: none;
}
.topnav-signIn a:hover, .topnav-postAd a:hover{
  background-color: #00008B;
}
.container-search {
  margin-top: 1%;
  margin-left: 1%;
}
.container-search input[type=text]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  width: 30vw;
}
.container-search button[type=submit]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
}
select {
  text-align: center;
  text-align-last: center;
}
option {
  text-align: left;
}
/* Style the Image Used to Trigger the Modal */
#itemImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#itemImage:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}