<app-header [title]="title"></app-header>

<div class="container-add">
    <div class="row justify-content-lg-center">

        <div class="col-8">
            <h1>{{editing ? "Edit you ad" : "Create an ad"}}</h1>
            <br><hr><br>

            <form novalidate #form="ngForm" (ngSubmit)="save(form)">

                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        [(ngModel)]="item._id">

                    <label>Enter Your Image URL:</label>
                    <input type="text" class="form-control"
                        name="image" 
                        placeholder="https://image1"
                        [(ngModel)]="item.image">
                </div>
                

                <div class="form-group">
                    <label>Select Category:</label>
                    <select name="category" [(ngModel)]="item.category" required>
                        <option value="" hidden>- - Select - -</option>
                        <option> Clothing</option>
                        <option> Furniture</option>
                        <option> Electronics</option>
                        <option> Outdoor</option>
                        <option> Vehicle</option>
                        <option> Other</option>
                       </select>
                </div>

                <div class="form-group">
                    <label>Condition:</label>
                    <select name="condition" [(ngModel)]="item.condition" required>
                        <option value="undefined" hidden>- - Select - -</option>
                        <option> New</option>
                        <option> Used - Like New</option>
                        <option> Used - Good</option>
                        <option> Used - Fair</option>
                       </select>
                </div>

                <div class="form-group">
                    <label>Ad Title:</label>
                    <input type="text" class="form-control"
                        name="title" 
                        placeholder="minimum 6 characters"
                        [(ngModel)]="item.title" required>
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <textarea name="description" 
                        rows="10" 
                        cols="100"
                        [(ngModel)]="item.description" required></textarea>
                </div>

                <div class="form-group">
                    <label>Price:</label>
                    <input type="number" class="form-control" 
                        name="price"
                        placeholder="$--"
                        [(ngModel)]="item.price" required>
                </div>

                <div class="form-group">
                    <label>Phone Number:</label>
                        <input type="number" class="form-control"
                            name="phoneNumber"  
                            placeholder="123 456 7890" 
                            [(ngModel)]="item.phoneNumber" required>
                </div>
                <br>
                
                <div>
                    <input class="btn btn-primary" type="submit" value="Post your ad" />
                </div>
                <!-- <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button> -->

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>