/* *margin-top: 1%;
} */
.topnav-signIn a, .topnav-postAd a{
  background-color: #036DBE;
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 22px;
  border-radius: 5px;
  text-decoration: none;
}
.topnav-signIn a:hover, .topnav-postAd a:hover{
  background-color: #00008B;
}
.container-search {
  margin-top: 1%;
  margin-left: 1%;
}
.container-search input[type=text]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  width: 30vw;
}
.container-search button[type=submit]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
}
select {
  text-align: center;
  text-align-last: center;
}
option {
  text-align: left;
}
