<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/header.css"> 
  <link rel="stylesheet" href="/stylesheets/productList.css">
</head>
<body> -->

<app-header [title]="titleAd"></app-header>


<div class="latestAds-container">
<h1 style="margin-left: 3%; padding-bottom: 2%;">{{titleAd}}</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/Electronics.jpg" width="600" height="300" >
      </a>
      <h2>HD Full Screen TV</h2>
      <h3>Electronics</h3>
      <p>$ 25000.00</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/babyProductImage.png" width="600" height="300" >
      </a>
      <h2>Portable Baby crib</h2>
      <h3>Baby Product</h3>
      <p>$ 12800.00</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/clothingImage.png" width="600" height="300" >
      </a>
      <h2>Flay Dress For LunchDate</h2>
      <h3>Clothing</h3>
      <p>$ 200.00</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/book.png" width="600" height="300" >
      </a>
      <h2>Sell Like Crazy By Sabri Suby</h2>
      <h3>Books</h3>
      <p>$ 100.00</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/healthandpersonal-image.png" width="600" height="300" >
      </a>
      <h2>Smart Oral Irrigator</h2>
      <h3>Health Care</h3>
      <p>$ 1288.00</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/gamingProduct.png" width="600" height="300" >
      </a>
      <h2>Game Pad</h2>
      <h3>Gaming</h3>
      <p>$ 250.00</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/kitchenProduct.png" width="600" height="300" >
      </a>
      <h2>Fruit Squeezer</h2>
      <h3>Kitchen</h3>
      <p>$ 50.00</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <a class="img-container" href="#">
        <img class="imgview" src="assets/images/shoes.png" width="600" height="300" >
      </a>
      <h2>Stiletto Heels</h2>
      <h3>Shoes</h3>
      <p>$ 145.00</p>
    </div>
  </div>
</div>

</div>
  
<app-footer></app-footer>
<!-- </body>

</html> -->