<app-header [title]="title"></app-header>

<section class="features-section">
  <div>
    <h4 class="features">Features</h4>
    <p class="features-description">Buy and Sell different kinds of product: Clothes, Electronics, Furnitures, Vehicles, Outdoor. 
      RESELL! DO NOT DISPOSE!</p>
    <div class="products">

      <article class="services product">
        <fa-icon [icon]="faLocation" size="3x"></fa-icon>
        <h5 class="article-h5">We are everywhere</h5>
        <p class="article-description">We have different branches and service centers across Toronto</p>
      </article>

      <article class="services product">
        <fa-icon [icon]="faClock" size="3x">></fa-icon>

        <h5 class="article-h5">Always Available</h5>
        <p>Our qualified and reliable staff will be there to help you 24 x 7.</p>
      </article>

      <article class="services product">
        <fa-icon [icon]="faLaptop" size="3x">></fa-icon>

        <h5 class="article-h5">Want to Sell?</h5>
        <p>SignUp as an owner, post an AD, edit, update product as you desire. Receive message from potential buyers. VIOLA! </p>
      </article>

      <article class="services product">
        <fa-icon [icon]="faLeaf" size="3x">></fa-icon>

        <h5 class="article-h5">Want to Buy? No Hassle</h5>
        <p>Choose your product, signup, and message seller. That's it! its easy.</p>
      </article>

      <article class="services product">
        <fa-icon [icon]="faTruck" size="3x">></fa-icon>

        <h5 class="article-h5">Fast Delivery</h5>
        <p>Delivery at your doorstep...fast.....very fast!</p>
      </article>

    </div>

  </div>
  <hr>
</section>
<app-footer></app-footer>
