<app-header></app-header>

<section class="send-message">
    <h1 class="send-info">Send a
        <span class="accent-text">Message</span>
    </h1>
    <form class="message-form">
        <div class="user-info">
            <label>First Name:</label>
            <input type="text">
        </div>
        <div class="user-info">
            <label>Last Name:</label>
            <input type="text">
        </div>
        <div class="user-info">
            <label> Contact Number:</label>
            <input type="tel">
        </div>
        <div class="user-info">
            <label>Email address:</label>
            <input type="email">
        </div>
        <div class="user-info">
            <label>Enter your message:</label>
            <input type="text">
        </div>
        <div class="user-info">
            <a href = "/" class = "btn" role = "button">Submit</a>
        </div>
        
    </form>
    
</section>

<app-footer></app-footer>